@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background: hsl(257, 24%, 11%);
  overflow: hidden;
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7.5%;
  width: 100%;
  background: rgb(37, 37, 37);
  transition: height 0.5s linear;
}
header:hover{
  height: 10%;
  transition: height 0.5s linear;
}
#logo {
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
  filter: drop-shadow(1px 1px 50px rgb(0, 255, 191));
}
content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;  
}
cardBackground{
  position: absolute;
  display: block;
  border-radius: 20px;
  height: 70%;
  width: 70%;
  background-repeat: no-repeat;
  background-size: cover;
  background: url(scenery-aurora.jpg);
}
card{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 70%;
  width: 70%;
  backdrop-filter: blur(50px) saturate(150%);
  -webkit-backdrop-filter: blur(16px) saturate(200%);
  background-color: rgba(0, 0, 0, 0.43);
  border: 1px solid rgba(255, 255, 255, 0.125);
}
#cc{
  font-size: 15px;
  color: white;
  position: absolute;
  bottom: -6.25%;
  color: white;
  display: inline;
  text-decoration: none;
  background-image: linear-gradient(#00ffbf, #00ff9d);
  background-size: 0% 3px;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  transition: all 0.3s linear;
}
#cc:hover{
  background-size: 100% 2px;

}
blurSelection{
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(50px) saturate(166%);
  -webkit-backdrop-filter: blur(20px) saturate(166%);
  background-color: rgba(0, 0, 0, 0.43);
}
popup{
  text-align: center;
  padding: 1.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 40%;
  background: rgb(59,41,77);
  background: linear-gradient(45deg, rgba(59,41,77,1) 0%, rgba(36,24,73,1) 100%);
  border-radius: 15px;
}
#cookieImage{
  position: relative;
  bottom: 30%;
  display: block;
  height: 25.5%;
  width: 12.5%;
  background: url(cookies.png);
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.5s linear;
}
#cookieImage:hover{
  transform: rotateY(360deg) scale(1.25);
  transition: all 0.5s linear;
}
#cookieTxt{
  position: absolute;
  color: white;
}
#acceptCookie_btn{
  position: absolute;
  bottom: 35%;
  display: block;
  height: 5.5%;
  width: 10.5%;
  background: rgb(25, 0, 49);
  color: white;
  border-radius: 15px;
  border: none;
  transition: all 0.15s linear;
}
#acceptCookie_btn:hover{
  background: rgb(40, 0, 77);
  font-size: 17;
  transition: all 0.15s linear;
}
#acceptCookie_btn:active{
  background: rgb(67, 0, 129);
  border: solid 2px rgb(20, 20, 20);
  transition: background 0.05s linear;
}
#declineCookie_btn{
  position: absolute;
  right: 31%;
  top: 26.75%;
  display: block;
  height: 42.5px;
  width: 42.5px;
  background-image: url(NOcookies.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.15s linear;
  border: none;
}
#declineCookie_btn:hover{
  transform: rotate(360deg) scale(1.1);
  transition: all  transform 0.15s linear;
}
#declineCookie_btn:active{
  transition: background-color 0.05s linear;
}
circle{
  display: block;
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: rgb(0, 255, 55);
  filter: drop-shadow(1px 1px 7.25px rgb(0, 255, 55));
  animation: animationRainbowMouse 0.5s linear infinite;
}@keyframes animationRainbowMouse{
  100%{
    filter: drop-shadow(1px 1px 15px rgb(0, 255, 55)) hue-rotate(360deg);
  }
}
#removeCookies{
  background-image: url(NOcookies.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  transition: all 0.15s linear;
  border: none;
  display: none;
  height: 42.5px;
  width: 42.5px;
  position: absolute;
  right: 5%;
  bottom: 10%;
}
#removeCookies:hover{
  transform: scale(1.15);
  filter: brightness(1.5);
  transition: all transform 0.15s linear;
}
.popupRemoveCookiePopup_class{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 12.5%;
  width: 12.5%;
  backdrop-filter: blur(15px) saturate(200%);
  -webkit-backdrop-filter: blur(18px) saturate(200%);
  background-color: rgba(84, 31, 170, 0.383);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 1.25px solid rgba(100, 16, 185, 0.253);
  position: absolute;
  right: -13%;
  bottom: 4%;
  transition: all 0.75s linear;
}
#removeCookiesPopup{
  position: absolute;
  right: 0;
  transition: all 0.75s linear;
}
#credits{
  background-image: url(copyright.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  transition: all 0.15s linear;
  border: none;
  display: block;
  height: 42.5px;
  width: 42.5px;
  position: absolute;
  right: 2%;
  bottom: 10%;
  transition: all transform 0.15s linear;
}
#credits:hover{
  transform: scale(1.15);
  filter: brightness(1.15);
  transition: all transform 0.15s linear;
}
blurSelection2{
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(50px) saturate(166%);
  -webkit-backdrop-filter: blur(20px) saturate(166%);
  background-color: rgba(0, 0, 0, 0.43);
}
creditsPoput{
  display: block;
  text-align: center;
  color: white;
  padding: 3.25%;
  height: 77.25%;
  width: 60%;
  border-radius: 15px;
  background: linear-gradient(45deg, rgba(59,41,77,1) 0%, rgba(36,24,73,1) 100%);
}
creditsPoput a{
  color: white;
  font-size: 5px;
  margin: 50%;
}
#closeCredits{
  background-image: url(cross.png);
  filter: invert(1);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  transition: all 0.15s linear;
  border: none;
  display: block;
  height: 42.5px;
  width: 42.5px;
  position: absolute;
  right: 21%;
  top: 15%;
  transition: all transform 0.15s linear;
}
#closeCredits:hover{
  transform: scale(1.15);
  transition: all transform 0.15s linear;
}
loaderWrapper{
  text-align: center;
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: hsl(257, 24%, 11%);
}
loadingBar{
  position: absolute;
  bottom: 27.5%;
  left: 32.5%;
  display: block;
  height: 4%;
  background: rgb(128,23,232);
  background: linear-gradient(45deg, rgba(128,23,232,1) 0%, rgba(189,34,34,1) 74%);
  border-radius: 50px;
  width: 0%;
  transition: width 1.25s cubic-bezier(.08,.2,.23,.51);
}
#loadingActive{
  transition: width 1.25s cubic-bezier(.08,.2,.23,.51);
  width: 35%;
}
loadingNumber{
  color: white;
  font-size: 70px;
  position: absolute;
  bottom: 12.75%;
  left: 47.25%;
}
#logo2{
  display: block;
  width: 10%;
  position: absolute;
  left: 45%;
  top: 20%;
  filter: drop-shadow(1px 1px 175px rgb(0, 255, 191));
}
#paypal{
  cursor: pointer;
  position: absolute;
  left: 1.5%;
  bottom: 10%;
  display: block;
  height: 55px;
  width: 55px;
  background-color: rgb(240, 240, 240);
  border: solid 3.25px rgb(240, 240, 240);
  font-size: 6px;
  border-radius: 10px;
  background-image: url(paypal.png);
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.15s linear;
}
#paypal:hover{
  transform: scale(1.15);
  transition: all 0.15s linear;
}
#calendary{
  position: absolute;
  top: 50%;
  display: block;
  height: 95px;
  width: 95px;
  background: url(calendar.png);
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.15s linear;
}
#calendary:hover{
  transform: scale(1.15);
  transition: all 0.15s linear;
}