@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: white;
}
*::-webkit-scrollbar {
  width: 16px;
  height: 2%;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #cacaca;
  border-radius: 10px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(34, 34, 34);
}
logoBody{
  display: block;
  position: absolute;
  height: 350px;
  width: 350px;
  background-image: url(icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  filter: saturate(3);
}
menu{
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 3.1%;
  background: rgb(17, 17, 17);
  border-right: 4px solid rgb(3, 3, 3);
  padding-left: 0.6%;
  padding-top: 10px;
}
menu button,menu a{
  position: absolute;
  display: block;
  height: 5%;
  width: 50%;
  border: none;
  background-color: transparent;
  left: 20%;
  transition: transform 0.15s linear;
}
menu button:hover,menu a button:hover{
  transform: scale(1.2);
  transition: transform 0.15s linear;
}
#projectsBtn{
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(paper.png);
  filter: invert(0.6);
  top: 0.75%;
}
#newProjectsBtn{
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(add-file.png);
  filter: invert(0.6);
  margin-top: 75%;
}
#settingsBtn{
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(gear.png);
  margin-top: 150%;
}
projectMenu,settingsmenu{
  padding: 1.5%;
  display: none;
  flex-wrap: wrap;
  height: 90%;
  width: 90%;
  position: absolute;
  right: 3%;
  backdrop-filter: blur(17.5px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(21, 21, 21, 0.75);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
textarea[type="project"]{
  display: block;
  height: 7%;
  width: 10%;
  background: red;
  backdrop-filter: blur(17.5px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(8, 8, 8, 0.75);
  border-radius: 20px;
  border: 1px solid rgba(204, 204, 204, 0.513);
  text-align: center;
  padding: 3px;
  overflow: auto;
  color: white;
  resize: none;
  overflow-y: visible;
}
textarea:focus{
  outline: none;
}
menuWrapper{
  padding: 0.5%;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  border-radius: 20px;
  background: rgba(41, 41, 41, 0.616);
  -webkit-backdrop-filter: blur(19px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.25);
}
closeMenu{
  position: absolute;
  right: 5%;
  top: 5%;
  display: block;
  height: 12.5%;
  width: 12.5%;
  background-image: url(close.png);
  background-size: contain;
  background-position: center;
  filter: invert(1);
  transition: transform 0.15s linear;
}
closeMenu:hover{
  transform: scale(1.15);
  transition: transform 0.15s linear;
}
menuList{
  padding: 1.1%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 70%;
  position: absolute;
  bottom: 5%;
  background: transparent;
  border-radius: 2px;
  border-top: solid 3.15px rgb(212, 212, 212);
}
a[href="edit/index.html"]{
  position: absolute;
  left: 5%;
  top: 5%;
  display: block;
  height: 35%;
  width: 35%;
  background-image: url(html.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.15s linear;
  filter: brightness(1.2);
}
a[href="edit/index.html"]:hover{
  transform: scale(1.15);
  transition: transform 0.15s linear;
}
a[href="preview/index.html"]{
  position: absolute;
  right: 5%;
  top: 9.5%;
  display: block;
  height: 25%;
  width: 25%;
  background-image: url(play-button-arrowhead.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.15s linear;
  filter: invert(2);
}
a[href="preview/index.html"]:hover{
  transform: scale(1.15);
  transition: transform 0.15s linear;
}
settingsmenu{
  padding: 2.25%;
  display: block;
}
themeButton{
  border: solid 5px rgb(0, 255, 191);
  display: block;
  height: 10%;
  width: 6%;
  background-position: center;
  background-image: url(dark-mode.png);
  background-color: rgb(134, 134, 134);
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  transition: transform 0.15s linear;
}
themeButton:hover{
  transform: scale(1.15);
  transition: transform 0.15s linear;
}
themeButton:active{
  filter: brightness(1.2);
  transition: filter 0.1s linear;
}
pre{
  position: relative;
  left: 22.5%;
  margin-top: 2.5%;
}
.hljs-comment,.hljs-comment,
.hljs-quote {
    color: #888888
}
.hljs-property{
color: rgb(218, 83, 83);
}
.hljs-deletion,
.hljs-name,
.hljs-regexp,
.hljs-selector-class,
.hljs-selector-id,
.hljs-tag,
.hljs-template-variable,
.hljs-variable {
    color: #cc4ac6
}

.hljs-built_in,
.hljs-link,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-params,
.hljs-type {
    color: #b181ff
}

.hljs-attribute {
    color: rgb(255, 217, 0)
}

.hljs-addition,
.hljs-bullet,
.hljs-string,
.hljs-symbol {
    color: #aaff00
}

.hljs-section,
.hljs-title {
    color: #00e0af
}

.hljs-keyword,
.hljs-selector-tag {
    color: #ff812d
}

.hljs-emphasis {
    font-style: italic;
color: red;
}

.hljs-strong {
    font-weight: 700;
color: red;
}
codePrew{
  left: 22.5%;
  top: 24%;
}
.html,.css,.js{
  font-size: 50%;
}
colorSelection{
  position: absolute;
  top: 21.15%;
  left: 4.5%;
  display: flex;
  flex-direction: column;
}
input[type="color"]{
  margin-top: 30%;
  backdrop-filter: blur(17.5px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(21, 21, 21, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 0;
  height: 30px;
  width: 30px;
}
divisor1{
  display: block;
  height: 60%;
  width: 90%;
  border-width: 4px;
  border-bottom-style: solid;
  border-top-style: solid;
  border-image: linear-gradient(to right, rgb(0, 255, 179), rgb(234, 0, 255)) 1;
  position: absolute;
  top: 17%;
}
a[href="credits.html"]{
  position: absolute;
  right: 5%;
  bottom: 2%;
  display: block;
  background-image: url(copyright.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.15s linear;
}
a[href="credits.html"]:hover{
  transform: scale(1.15);
  transition: transform 0.15s linear;
}
#download{
  position: absolute;
  right: 5%;
  bottom: 7%;
  display: block;
  background-image: url(arrow.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.15s linear;
}
#download:hover{
  transform: scale(1.15);
  transition: transform 0.15s linear;
}